{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>IUTBlog | Free Blog Website For IUTians</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://use.fontawesome.com/b40568f5f1.js"></script>
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awsome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'noscript.css' %}"/></noscript>
		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" class="alt">
					<a href="{% url 'home' %}" class="logo"><strong>IUT</strong> <span>Blog</span></a>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>

				<!-- Menu -->
				<nav id="menu">
					<ul class="links">
		                <li class="active"> <a href="{% url 'home' %}">Home </a> </li>

						<li> <a href="{% url 'login' %}">Login</a> </li>

		                <li> <a href="{% url 'blog' %}">Blog</a> </li>

						<li> <a href="{% url 'podcast' %}">Podcast</a> </li>

		                <li> <a href="{% url 'about-us' %}">About Us</a> </li>

		                
            		</ul>
				</nav>

				<!-- Banner -->
					<section id = "banner", class = "major">
						<div class="inner">
							<header class="major">
								<h1>IUTBlog</h1>
								<h2>A blog sharing web platform exclusive for IUTians</h2>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							<!-- About us -->
							<section>
								<div class="inner">
									<header class="major">
										<h2>Overview</h2>
									</header>
									<p>IUTBlog, an exclusive web platform for IUTians, 
										host articles,podcasts & videos. Contributors can login, 
										upload content and provide feedback in IUTblog. Past and present IUTians can untap the great potential of 
										sharing their experience through this website. Happy sharing !! </p>
										
								</div>
							</section>

							<!-- Blog Posts -->
							<section class="tiles">
								<article>
									<span class="image">
										<img src="{% static '1.jpg' %}" alt="" />
									
									</span>
									<header class="major">
										<h3>RESEARCH & HIGH STUDIES</h3>

					

										<div class="major-actions">
											<a href="{% url 'research' %}" class="button small next scrolly">Read Blogs</a>
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static '333.png' %}" alt="" />
										
									</span>
									<header class="major">
										<h3>OPPORTUNITIES</h3>

										

										<div class="major-actions">
											<a href="{% url 'opportunities' %}" class="button small next scrolly">Read Blogs</a>
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static '22.jpg' %}" alt="" />
										
										
									</span>
									<header class="major">
										<h3>LITERATURE</h3>

										

										<div class="major-actions">
											<a href="{% url 'literature' %}" class="button small next scrolly">Read Blogs</a>
										</div>
									</header>
								</article>

								<article>
									<span class="image">
										<img src="{% static '45.jpg' %}" alt="" />
										
									</span>
									<header class="major">
										<h3>STORIES & EXPERIENCES</h3>

									

										<div class="major-actions">
											<a href="{% url 'stories_experiences' %}" class="button small next scrolly">Read Blogs</a>
										</div>
									</header>
								</article>

								<article>
									<span class="image">
										<img src="{% static '46.jpg' %}" alt="" />
										
									</span>
									<header class="major">
										<h3>ACHIEVEMENTS</h3>

										

										<div class="major-actions">
											<a href="{% url 'achievement' %}" class="button small next scrolly">Read Blogs</a>
										</div>
									</header>
								</article>

								<article>
									<span class="image">
										<img src="{% static '47.jfif' %}" alt="" />
										
									</span>
									<header class="major">
										<h3>EVENTS</h3>

										<div class="major-actions">
											<a href="{% url 'events' %}" class="button small next scrolly">Read Blogs</a>
										</div>
									</header>
								</article>
							</section>

							<!-- About us -->
							<section>
								<div class="inner">
									<header class="major">
										<h2>About us</h2>
									</header>
									<p>IUTBlog is made by 3 current Computer Science Students at the Islamic University of
										Technology, it is primarily part of a project in one of our course.This Website is made
										with a believe that futher improvements will be made in the future.
									</p>
									<ul class="actions">
										<li><a href="{% url 'about-us' %}" class="button next">Read more</a></li>
									</ul>
								</div>
							</section>
					</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<ul class="icons">
							<li><a href="https://github.com/Bit-Quark" class="icon alt fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
						<ul class="copyright">
							<li>Bit-Quark:</li>
							<li> <a href="https://github.com/Bit-Quark">Bit-Quark-Github</a></li>
						</ul>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'jquery.min.js' %}" ></script>
			<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'jquery.scrolly.min.js' %}" ></script>
			<script src="{% static 'jquery.scrollex.min.js' %}" ></script>
			<script src="{% static 'browser.min.js' %}" ></script>
			<script src="{% static 'breakpoints.min.js' %}" ></script>
			<script src="{% static 'util.js' %}"></script>
			<script src="{% static 'main.js' %}" ></script>
	</body>
</html>