{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Login | IUTBlog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://use.fontawesome.com/b40568f5f1.js"></script>
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'noscript.css' %}"/></noscript>
		<script src="https://kit.fontawesome.com/108d5d6272.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<a href="{% url 'home' %}" class="logo"><strong>IUT</strong> <span>Blog</span></a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li class="active"> <a href="{% url 'home' %}">Home </a> </li>

					<li> <a href="{% url 'login' %}">Login</a> </li>

					<li> <a href="{% url 'blog' %}">Blog</a> </li>

					<li> <a href="{% url 'podcast' %}">Podcast</a> </li>

					<li> <a href="{% url 'about-us' %}">About Us</a> </li>

					
				</ul>
			</nav>
			

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
                                <header class="major">
									<h2>Login</h2>
								</header>
                                    

									<div class="fields">
										<div class="field">
											<label for="email">Email</label>
											<i class="far fa-envelope"></i>
											<input type="email" name="email" id="email" />
										</div>

										<div class="field">
											<label for="email">Password</label>
											<i class="fas fa-lock"></i>
											<input type="password" name="password" id="password" />
										</div>
										
										<div class="field half text-right">
											<ul class="actions">
												<li><input type="submit" value="Login" class="primary" /></li>
											</ul>
										</div>
									</div>
								</form>
                            </section>
                            <form method="post" action="#">
                                <header class="major">
									<h2>Sign Up</h2>
								</header>
                                    <div class="field">
											<label for="name">Name</label>
											<i class="fas fa-user-alt"></i>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field">
											<label for="email">Email</label>
											<i class="far fa-envelope"></i>
											<input type="email" name="email" id="email" />
										</div>

										<div class="field">
											<label for="password">Password</label>
											<i class="fas fa-lock"></i>
											<input type="password" name="password" id="password" />
										</div>
                                        <br>
                                        <div class="field half text-right">
											<ul class="actions">
												<li><input type="submit" value="Register" class="primary" /></li>
											</ul>
										</div>

										
									</div>
								</form>
                               	
						</div>
					</section>
				</div>
                    
                <br>

				<!-- Footer -->
					<footer id="footer">
					<div class="inner">
						<ul class="icons">
							<li><a href="https://github.com/Bit-Quark" class="icon alt fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
						<ul class="copyright">
							<li>Bit-Quark:</li>
							<li> <a href="https://github.com/Bit-Quark">Bit-Quark-Github</a></li>
						</ul>
					</div>
				</footer>


			</div>

		<!-- Scripts -->
			<script src="{% static 'jquery.min.js' %}" ></script>
			<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'jquery.scrolly.min.js' %}" ></script>
			<script src="{% static 'jquery.scrollex.min.js' %}" ></script>
			<script src="{% static 'browser.min.js' %}" ></script>
			<script src="{% static 'breakpoints.min.js' %}" ></script>
			<script src="{% static 'util.js' %}"></script>
			<script src="{% static 'main.js' %}" ></script>

	</body>
</html>
