{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Opportunities | IUTBlog</title>
		<link rel="stylesheet" href="{% static 'main.css' %}" />
		<link rel="stylesheet" href="{% static 'bootstrap.min.css'%}" />
		<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>                        
		
	</head>
	<body>

<h1> Hello world </h1>
<ul class="icons">
<i class="icon alt fa-twitter"> </i>
<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
</ul>

</body>
</html>

